#ECLIPSE

RemoteSystemsTempFiles/
.metadata/
.recommenders/

#APS

APS/*.cmo
APS/*.cmi
APS/toProlog
APS/lexer.ml
APS/parser.mli
APS/parser.ml

#CA

CA/TME1/calc/*.cmi
CA/TME1/calc/*.cmo
CA/TME1/calc/*.mli
CA/TME1/calc/calc
CA/TME1/calc/lexer.ml
CA/TME1/calc/parser.ml

CA/TME3/code/Java/*~
CA/TME3/code/Java/*.cmi
CA/TME3/code/Java/*.cmo
CA/TME3/code/Java/alex.ml
CA/TME3/code/Java/asyn.ml
CA/TME3/code/Java/intertypeur
CA/TME3/code/Java/intereval
CA/TME3/code/Java/ml2java
CA/TME3/code/Java/*.class

#CPS

CPS/TME1/bin/
CPS/TME2/build/
CPS/TME3/bin/

#PC2R


